<a href="https://colab.research.google.com/github/azzurasagala/ALGORITMA-PHYTON/blob/main/TUGAS6_AZZURA%20KARTIKA%20PUTRI%20SAGALA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUGAS NO 1

In [1]:
S = [4,1,-1,10,0,12]

D = int(input("Masukan nilai D"))

S = [x * D for x in S]
print ("array setelah dikalikan dengan D", S)

Masukan nilai D2
array setelah dikalikan dengan D [8, 2, -2, 20, 0, 24]

TUGAS NO 2

In [2]:
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesar = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesar)

nilai_terkecil = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecil)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesar = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesar)

nilai_terkecil = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecil)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12